# Compiled source #
###################
*.elf
*.o
*.d
!/mbed/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.o
!/mbed/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.a

# Output #
###################
*.bin

# Sublime ignores #
#######################
.tags*
.cproject
.project

