# Compiled source #
###################
*.elf
*.o
*.d
!/mbed/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.o
!/mbed/TARGET_LPC1768/TOOLCHAIN_GCC_ARM/*.a

# Output #
###################
*.bin
RunTests

# Compiled Static libraries #
#############################
*.lai
*.la
*.a
*.lib


# Sublime ignores #
#######################
.tags*
.cproject
.project

# OS Files #
############
.DS_Store
.fuse*
